.about {
  padding: 35px 0;

  background-color: getColor(bg-hero);

  &__heading {
    @extend %section-headings;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__text {
    color: getColor(text-main);

    &:nth-child(1) {
      margin-bottom: 15px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}

.about__btn {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 15px 0;

  font-size: 14px;
  line-height: lineHeight(14px, 20px);

  & > svg {
    margin-left: 10px;
    fill: #ffffff;
  }
}
