.immigration {
  padding: 35px 0;
}
.immigration__wrapper {
  @extend %headings-wrapper;

  & .more-btn {
    margin-left: auto;
  }
}

.immigration-heading {
  @extend %section-headings;
}

//====================card grid==========================//
.card__title {
  @extend %card-titles;

  &--padding {
    padding: 15px 12px;
  }
}
