.important {
  box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
    5px 5px 10px rgba(190, 190, 190, 0.25);
  border-radius: 10px;

  &__container {
    padding: 20px 15px 0 15px;
  }

  &__heading {
    margin-bottom: 20px;

    @include font-preset(700, 18px, 28px);
    color: getColor(headings);
  }

  &__wrapper {
    position: relative;
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    padding: 15px 11px 15px 12px;

    font-weight: 700;

    background-color: rgba(30, 34, 46, 0.4);
    color: #ffffff;
  }

  &__list {
    background-color: #f3f3f3;
  }

  &__element {
    display: flex;
    margin-bottom: 1px;

    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: getColor(bg-while-hover);
    }

    &::before {
      display: block;
      content: "";

      width: 4px;
      background-color: transparent;
    }

    &:hover::before,
    &:focus::before {
      background-color: getColor(accent);
    }
  }

  &__element-link {
    margin: 10px 0 10px 12px;
    color: getColor(headings);
  }
}
