//==========================mobile menu styles when opened====================//
@media screen and (max-width: 1199px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    padding-top: 80px;

    background-color: #ffffff;

    visibility: hidden;
    pointer-events: none;
  }
}

.menu.is-opened {
  visibility: visible;
  pointer-events: initial;
}
//============================desktop posisitions================//
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;

    @media screen and (max-width: 1199px) {
      &__list {
        display: none;
      }
    }
    &__list {
      display: flex;
    }

    &__element:not(:last-child) {
      margin-right: 30px;
    }

    .header__link {
      font-size: 16px;
      line-height: lineHeight(16px, 24px);

      color: getColor(text-main);
    }
  }
}

.navbar.is-opened .search-btn,
.navbar.is-opened .auth-btn {
  display: none;
}

.dropdown-widget {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      padding: 15px 18px;

      border-top: 1px solid getColor(form-color);
      border-bottom: 1px solid getColor(form-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    margin-right: 8px;

    fill: currentColor;

    .dropdown-widget__btn:hover + &,
    .dropdown-widget__btn:focus + &,
    .dropdown-widget__btn:active + & {
      fill: getColor(accent);
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 6px);

    width: 100%;

    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 5px 20px rgba(190, 190, 190, 0.25);

    background-color: getColor(bg-hero);

    z-index: 2;
    visibility: hidden;
    pointer-events: none;

    .dropdown-widget__btn.is-active ~ & {
      visibility: visible;
      pointer-events: initial;
      z-index: 5;
    }
  }

  &__list-item {
    padding: 5px 0 5px 10px;

    background-color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &:hover,
    &:focus {
      background-color: getColor(li-items-hover);
      color: getColor(accent);

      cursor: pointer;
    }
  }

  &__link {
    font-size: 16px;
    line-height: lineHeight(16px, 24px);

    color: currentColor;

    .dropdown-widget__list-item:hover &,
    .dropdown-widget__list-item:focus & {
      color: getColor(accent);
    }
  }
}

//===================button styles===================//
.dropdown-widget__btn {
  display: inline-flex;
  align-items: center;

  padding: 0;

  font-family: inherit;
  font-size: 16px;
  line-height: lineHeight(16px, 24px);

  text-align: center;

  border: transparent;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: getColor(accent);
  }
}

.dropdown-widget__btn-icon {
  width: 16px;
  height: 16px;

  margin-left: 5px;

  fill: currentColor;

  .dropdown-widget__btn:hover &,
  .dropdown-widget__btn:focus &,
  .dropdown-widget__btn:active & {
    color: getColor(accent);
  }
}

.dropdown-widget__btn.is-active .dropdown-widget__btn-icon {
  transform: rotateX(180deg);
}

//==================navbar positioning======================//
@media screen and (max-width: 1199px) {
  .navbar.is-opened {
    position: absolute;
    top: calc(100% + 55px);
    left: 0;

    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    align-items: center;

    &__catalogue {
      display: flex;

      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
  }
}

.navbar.is-opened .navbar__catalogue {
  display: block;
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .navbar__element {
    padding: 10px 18px;

    border-bottom: 1px solid getColor(form-color);

    &:first-child {
      border-top: 1px solid getColor(form-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar__element:not(:last-child) {
    margin-right: 30px;
  }
}

.navbar__link {
  @include font-preset(700, 18px, 24px);

  color: getColor(headings);

  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar__link-icon {
  width: 16px;
  height: 16px;

  color: getColor(headings);

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
