//==========================mobile menu styles when opened====================//
.menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: wheat;
}

.dropdown-widget {
  position: relative;

  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;

    margin-right: 8px;

    fill: currentColor;

    .dropdown:hover &,
    .dropdown-widget:focus & {
      fill: getColor(accent);
    }
  }

  &__list {
    position: absolute;
    top: 100%;

    width: 100%;

    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 5px 20px rgba(190, 190, 190, 0.25);

    background-color: getColor(bg-hero);
  }

  &__list-item {
    padding: 5px 0 5px 10px;

    background-color: #ffffff;

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &:hover,
    &:focus {
      background-color: getColor(li-items-hover);
      color: getColor(accent);

      cursor: pointer;
    }
  }

  &__link {
    font-size: 16px;
    line-height: lineHeight(16px, 24px);

    color: currentColor;

    .dropdown-widget__list-item:hover &,
    .dropdown-widget__list-item:focus & {
      color: getColor(accent);
    }
  }
}

//===================button styles===================//
.dropdown-widget__btn {
  display: inline-flex;
  align-items: center;

  padding: 0;

  font-family: inherit;
  text-align: center;

  border: transparent;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: getColor(accent);
  }
}

.dropdown-widget__btn-icon {
  width: 16px;
  height: 16px;

  margin-left: 5px;

  fill: currentColor;

  .dropdown-widget__btn:hover &,
  .dropdown-widget__btn:focus &,
  .dropdown-widget__btn:active & {
    color: getColor(accent);
  }
}

.dropdown-widget__btn.is-active .dropdown-widget__btn-icon {
  transform: rotateX(180deg);
}
