.popular {
  padding: 72px 0 35px 0;

  &__wrapper {
    @extend %headings-wrapper;
  }

  &__heading {
    @extend %section-headings;
  }
}

//===================building grids=====================//
.card {
  @include grid() {
    flex-wrap: nowrap;

    margin-left: -10px;
    margin-right: -10px;
  }
  margin-top: 30px;
  margin-bottom: 30px;

  &__element:not(:nth-child(-n + 2)) {
    display: none;
  }
}

//=================CARDS styles=========================//
.card__element {
  border: 1px solid #dbdfec;
  box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
    5px 5px 10px rgba(190, 190, 190, 0.25);
  border-radius: 10px 10px 4px 4px;

  overflow: hidden;
}

.card__title {
  @extend %card-titles;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .card__text {
    display: none;
  }
}

.card__wrapper {
  padding: 15px 12px;
}

.card__meta {
  display: flex;
  align-items: center;

  .card__rouble {
    @include font-preset(700, 18px, 24px);
    margin-right: 10px;
  }

  .card__dollar {
    @include font-preset(400, 12px, 18px);
  }
}

.card__btn {
  @extend %button;
  width: 100%;
  padding: 10px 0;
}

//==================slider==========================//
.slider {
  width: 95px;
  // height: 8px;
  margin-left: auto;
  margin-right: auto;

  & > svg {
    fill: getColor(accent);
  }
}
