.aside {
  padding: 35px 0;

  &__heading {
    @extend %section-headings;
  }

  &__wrapper {
    @extend %headings-wrapper;
  }
}

.aside__card:not(:last-child) {
  border-radius: 10px;
  box-shadow: -5px 0px 10px rgba(190, 190, 190, 0.25),
    5px 5px 10px rgba(190, 190, 190, 0.25);
  margin-bottom: 40px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
//================text over image=====================//
.aside__box {
  position: relative;
  margin-top: 25px;
}

.aside__card-logo {
  position: absolute;
  top: 15px;
  left: 12px;

  z-index: 3;
}

.aside__text {
  width: 100%;
  padding: 15px 12px;

  &--color {
    position: absolute;
    left: 0;
    bottom: 0;

    background-color: rgba(30, 34, 46, 0.4);
    color: getColor(text-alternative);
  }

  &--no-style {
    position: initial;
    padding: 0;

    margin-bottom: 25px;
  }
}
//======================================================//
//================making limnes between links===============//
.aside__list {
  background-color: #f3f3f3;
}

//===============links to articles===================//
.aside__element {
  margin-bottom: 1px;

  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
}

.aside__link {
  display: block;
  padding: 10px 12px;

  color: getColor(text-main);
}
//=======================================================//
.aside__heading.aside__heading--margin {
  margin-top: 20px;
  margin-bottom: 15px;
}

.aside__btn {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 15px 0;

  font-size: 14px;
  line-height: lineHeight(14px, 20px);

  & > svg {
    margin-left: 10px;
    fill: #ffffff;
  }
}
