//=====================COLORS MAP===========================//
$colors: (
  "accent": #e55241,
  //main and accent color in website
  "headings": #1e222e,
  //mostly used color of headlines
  "text-main": #3a3e48,
  // mostly used color of text
  "text-alternative": #f7f7f7,
  // alternative color of text
  "price-color": #afb2c4,
  //color used for prices
  "bg-sections-color": #f7f7f7,
  //background color for sections
  "bg-hero": #f4f4f4,
  //used in hero section
  "bg-footer-primary": #272727,
  //primary background color in footer
  "bg-footer-secondary": #202020,
  // secondary backround color in footer
  "bg-btn-mobile": rgba(229, 82, 65, 0.1),
  //color is used for buttons in header mobile
  "btn-active": #0c60ba,
  "btn-hover": #dd1718,
  "bg-while-hover": #fff6f6,
  "form-color": #dbdfec,
  "form-placeholder-color": #a6a6a6,
);

//=================TRANSITION AND MARGINS================//
$transitions: (
  "speed": 250ms,
  //is used for transitions while hovered and focused
  "speed-alt": 500ms,
  // aplies for scaling text in cards overlay
  "speed-func": cubic-bezier(0.4, 0, 0.2, 1),
  //is used for  transitions while hovered and focused
);

$grid-margin-item: 10px; // used in calc() for setting up margins between elements in flex grids

//=====================FONTS=========================//

$font-main: "Montserrat", sans-serif;
$font-weight: 400;
$font-size: 14px;
$line-height: 20px;

//=====================COLORS MAP FUNCTIONS==============//
@function getColor($key) {
  @return map-get($colors, $key);
}

//=====================TRANSITION FUNCTIONS==============//
@function getTransition($key) {
  @return map-get($transitions, $key);
}

//=====================FONTS FUNCTIONS==================//
@function lineHeight($font-size, $line-height) {
  @return ($line-height / $font-size);
}
