%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%section-headings {
  @include font-preset(700, 22px, 30px);
  color: getColor(headings);
}

%card-titles {
  font-weight: 700;
  color: getColor(headings);
}

%headings-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
