.access-denied {
  padding-top: 40px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 30px;

    @include font-preset(700, 22px, 30px);
    color: getColor(headings);
  }

  &__article {
    position: relative;

    border-radius: 10px;
  }

  &__meta {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 15px 12px;

    border-radius: 0 0 10px 10px;

    background-color: rgba(30, 34, 46, 0.4);
    color: getColor(text-alternative);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-color: #c4c4c4;

    opacity: 0.5;

    pointer-events: none;
  }
}

.access-denied__article-link {
  cursor: not-allowed;
}

//removes padding-top for join section
.join.access-denied__join {
  padding-top: 0;
}
