.header {
  position: relative;
  box-shadow: 0px 5px 10px rgba(190, 190, 190, 0.25);
}

.header.search-menu-opened {
  pointer-events: none;
}

.header__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.menu__list {
  display: none;
}
//================mobile buttons styles======================//
.menu-mobile-btn {
  @extend %button-mobile;
  background-color: getColor(accent);

  z-index: 3;

  &__icon-menu {
    fill: #ffffff;
  }

  &__icon-cross {
    display: none;
    fill: #ffffff;

    .menu-mobile-btn.is-opened & {
      display: block;
    }
  }
}

.menu-mobile-btn.is-opened .menu-mobile-btn__icon-menu {
  display: none;
}

.search-btn {
  @extend %button-mobile;
  background-color: getColor(bg-btn-mobile);

  &__icon {
    fill: getColor(accent);
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.auth-btn {
  @extend %button-mobile;
  background-color: getColor(bg-btn-mobile);

  &__icon {
    fill: getColor(accent);
  }
}
