//===================FONT PRESETS====================//
@mixin font-preset($font-weight: 400, $font-size: 14px, $line-height: 20px) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: lineHeight($font-size, $line-height);
}

// //==================GRID PRESET========================//

//this mixin is used to build grids
@mixin grid(
  $width: 100%,
  $margin-quantaty: 4,
  $grid-quantaty: 2,
  $grid-margin: $grid-margin-item
) {
  display: flex;
  flex-wrap: wrap;

  // margin: calc(-1 * #{$grid-margin});

  padding: 0;

  @content;

  &__element {
    flex-basis: calc(
      (#{$width} - #{$margin-quantaty} * #{$grid-margin}) / #{$grid-quantaty}
    );

    margin: $grid-margin;
  }
}

// //==============TRANSITION MIXINS====================//
// @mixin transition($property, $time: 250ms) {
//   transition: $property $time getTransition(speed-func);
// }

//==================RESPONSIVE MIXINS========================//
